@model One_Help_ASP.Models.Association

@{
    ViewData["Title"] = "Create";
}

<h1>Détails</h1>

<h4>Associations</h4>
<hr />

<form method="post" asp-action="Detail">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Détails de l'Association</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="NomAsso"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="NomRepLegal"></label>
                    </div>
                     <div class="col-3">
                        <label asp-for="Adresse"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="CodePostal"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <input  asp-for="NomAsso" class="form-control"  readonly />
                        
                    </div>
                    <div class="col-3">
                        <input asp-for="NomRepLegal" class="form-control" readonly/>
                        
                    </div>
                    <div class="col-3">
                        <input asp-for="Adresse" class="form-control" readonly />
                    </div>
                    <div class="col-3">
                        <input asp-for="CodePostal" class="form-control"  readonly/>
                       
                    </div>
                </div>

            </div>
        </div>
       
           
                <div class="form-group row">
                    <div class="col-5">
                        <label asp-for="NumeroTel"></label>
                       
                    </div>
                    <div class="col-5">
                        <label asp-for="Email"></label>
                    </div>
                    <div class="col-2">
                        <label asp-for="Status"></label>
                    </div>
                   
                </div>
                <div class="form-group row">
                    <div class="col-5">
                        <input asp-for="NumeroTel" class="form-control" readonly />
                        <span asp-validation-for="NumeroTel" class="text-danger"></span>
                    </div>
                    <div class="col-5">
                        <input asp-for="Email" class="form-control" readonly />
                    </div>
                    <div class="col-2">
                        <input asp-for="Status" class="form-control" readonly />
                    </div>
                    

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row ">
                       
                        <div class="col">
                            <a asp-controller="Association" asp-action="Index" class="btn btn-danger w-75">Retour</a>  
                        </div>
                    </div>
                   
                    
                </div>
        
    </div>
</form>

@section Scripts{
    @{<partial name= "_ValidationScriptsPartial" />}
 }

